<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>+Gostoso - Cardápio Digital</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cooper+Black&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="container">
      <!-- Topo amarelo com logo -->
      <header class="header">
        <img src="/images/womanchef.png" alt="Logo Chef" />
        <!-- Substitua pelo caminho correto da imagem do chef -->
      </header>

      <!-- Formulário -->
      <main class="form-container">
        <div class="container-border">

        <form class="login-form">
          <div class="form-group">
            <label for="nome">NOME:</label>
            <input type="text" id="nome" name="nome" />
          </div>
          <div class="form-group">
            <label for="telefone">TELEFONE:</label>
            <input type="tel" id="telefone" name="telefone" />
          </div>
        </form>
      
        <div class="quick-access">
          <div class="button-group">
            <a href="#" class="quick-link yellow">CRIAR CONTA</a>
            <a href="#" class="quick-link yellow">LOGIN</a>
          </div>
          <a href="/menu" class="quick-link black">ENTRADA RÁPIDA</a>
         <!-- Logo dentro do form-container -->
         <div class="logo-bottom">
          <img src="/images/hatchef.png" alt="Chapéu de chef" />
        </div>
        </div>
      </div>
      </main>      
      </div>
  </body>
</html>
